@use './modules/mixins' as mixin;

* {
    @include mixin.default-setting;
}

/*head Box*/
header{
    @include mixin.header-style;
}

/*본문*/
section{
    width: 1500px; height: 500px;
    margin: 200px auto;
    display: flex;
    
    img{
        display: block;
        width: 750px; height: 500px;
    }
    .section_TextBox{
        width: 750px; 
        height: 500px;
        font-size: 60px;
        text-align: center;
        p{margin-top: 90px;}
        small{font-size: 20px; color: rgb(213, 213, 213);}
        div{
            width: 100px; height: 50px;
            margin: 40px auto;
            font-size: 20px;
            line-height: 50px;
            background-color: blue;
            cursor: pointer;
            &:hover{background-color: rgb(46, 118, 252);}
        }
    }

}