*{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration-line: none;
    color: white;
}
ul{
    list-style-type: none;
}
body{
    background-color: black;
    padding-top: 70px;
    color: white;
}

/*head Box*/
#headBox{
    width: 100%; height: 70px;
    position: fixed;
    top: 0px;
    background-image: linear-gradient(to bottom, lightblue, black, black);
    border-bottom: 2px solid gray;
}

#headBox .nav{
    width: 1000px; height: 70px;
    margin-left: 100px;
    display: flex;
}
#headBox .nav li{
    margin: auto 40px;
    font-size: 20px;
}
.nav div:hover{
    background-color: lightgray;
}

/*본문*/
.section{
    width: 1500px; height: 500px;
    margin: 200px auto;
    display: flex;
    
    /* border: 3px solid gray; */
}
.section > div{
    width: 750px; height: 500px;
    
}
.section_Img{
    display: block;
    margin: 20px;
    width: 710px; height: 460px;
}

.section_TextBox{
    font-size: 60px;
    text-align: center;
}
.section_TextBox p{
    margin-top: 90px;
}
.section_TextBox small{
    font-size: 20px; color: rgb(213, 213, 213);
}
.section_TextBox div{
    width: 100px; height: 50px;
    margin: 40px auto;
    font-size: 20px;
    line-height: 50px;
    background-color: blue;
    
}
.section_TextBox div:hover{
    background-color: rgb(46, 118, 252);
}


/*각 파트별 제목+설명*/
/* .section .introduce{width: 640px; height: 210px; margin: 20px;}
.section .introduce .introduce_title{
    width: 300px; margin: 20px auto;
    font-size: 40px;
    text-align: center;
}
.section .introduce .introduce_article{
    width: 500px; margin: 20px auto;
    font-size: 20px;
    text-align: center;
} */