@mixin setting{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    a{
        text-decoration-line: none;
        color: white;
    }
    ul{
        list-style-type: none;
    }
    body{
        background-color: #121212;
        padding-top: 70px;
        color: white;
    }

}