$font-family-base: 'Pretendard', sans-serif;

$font-size-md: 20px;
$font-size-lg: 60px;
$font-size-card-title: 1.25rem;
$font-size-card-desc: 0.95rem;
$line-height-sidebar-item: 40px;
$line-height-header-button: 70px;
$line-height-card-desc: 1.5;
$article-detail-content-line-height: 35px;
