<header>
    <ul>
        <li><a href="/">Chan's Page</a></li>
        <li><a href="/tech-log">Tech Log</a></li>
        <li><a href="/algorithm">Algorithm</a></li>
        <li><a href="/insights">Insights &amp; Notes</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</header>

<style lang="scss">
    @use '../styles/components/header';
</style>