<header>
    <ul>
        <li><a href="/ChanPage/">Chan's Page</a></li>
        <li><a href="/ChanPage/tech-log">Tech Log</a></li>
        <li><a href="/ChanPage/algorithm">Algorithm</a></li>
        <li><a href="/ChanPage/insights">Insights & Notes</a></li>
        <li><a href="/ChanPage/projects">Projects</a></li>
    </ul>
</header>

<style lang="scss">
    @use '../styles/components/header';
</style>