---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Sidebar from '../../components/sidebars/projects_sidebar.astro';
import ArticleCard from '../../components/ArticleCard.astro';

const allPosts = await getCollection('projects');
---

<Layout hasSidebar={true}>
  <Sidebar slot="sidebar" />

  <section class="list-container">
    <div class="article-grid">
      {allPosts.map((post: CollectionEntry<'projects'>) => (
        <ArticleCard
          title={post.data.title}
          description={post.data.description}
          href={`/projects/${post.id}`}
        />
      ))}
    </div>
  </section>
</Layout>

<style lang="scss">
  @use '../../styles/tokens' as t;

  .list-container {
    padding: 2rem;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 2rem;
    }

    p {
      color: t.$color-text-dim;
      margin-bottom: 2rem;
    }
  }

  .article-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1.5rem;
  }
</style>
