@use '../tokens' as t;

* {
  margin: t.$space-0;
  padding: t.$space-0;
  box-sizing: border-box;
  font-family: t.$font-family-base;
}

a {
  text-decoration-line: none;
  color: t.$color-text-primary;
}

ul {
  list-style-type: none;
}
