*{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration-line: none;
    color: white;
}
ul{
    list-style-type: none;
}
body{
    background-color: black;
    padding-top: 70px;
    padding-left: 300px;
    color: white;
}

/*head Box*/
#headBox{
    width: 100%; height: 70px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to bottom, lightblue, black, black);
    border-bottom: 2px solid gray;
}

#headBox .nav{
    width: 1000px; height: 70px;
    margin-left: 100px;
    display: flex;
}
#headBox .nav li{
    margin: auto 40px;
    font-size: 20px;
}

/*사이드바*/
.sideBar{
    width: 300px; height: 100vh;
    position: fixed;
    left: 0px;
    background-color: black;
    border-right: 2px solid gray;
}
.sideBar li{
    width: 100%; height: 40px;
    margin: 5px 0px;
    border-radius: 15px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: black;
    transition-duration: 0.2s;
}
.sideBar li:hover{
    /* background-image: linear-gradient(to bottom, lightblue, rgb(41, 41, 41), rgb(41, 41, 41)); */
    background-color: rgb(41, 41, 41);
}

/* 본문 */
section{
    width: 100%; height: 1000px;
    overflow: hidden;
}

section div{
    width: 1000px; height: 250px;
    margin: 40px;
    text-align: center;
    background-image: linear-gradient(to bottom, lightblue, black);
    border: 2px solid rgba(255, 255, 255, 0.227);
    cursor: pointer;
    transition-duration: 0.2s;
}
section div:hover{
    opacity: 0.5;
}
section img{
    display: block;
    width: 150px; height: 150px;
    margin: 10px auto;
}